<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<meta charset="UTF-8">
	<title>In Room Dining Orders</title>
	
	<style>
		.container {
			margin-top: 20px;
		}

		#demo-description {
			width: 600px;
			margin: 0 auto 20px;
		}

		.input-lg {
			height: 45px;
		}
		

		#results {
			padding: 0;
			margin: 10px auto;
			font-size: 12px;
		}

		#results h4 {
			margin: 0 0 10px;
		}

		#results h4 span {
			vertical-align: middle;
			
		}
		
		#results h4 span .waiting{
			color: blue;
			vertical-align: middle;
		}
		
		#results h4 span .processed{
			color: green;
			vertical-align: middle;
		}
		
		#results h4 span .canceled{
			color: red;
			vertical-align: middle;
		}

		#results h4 .label, #results h4 .badge {
			font-size: 10px;
			margin-left: 3px;
		}

		#results>li {
			padding: 10px;
			font-family: Helvetica;
			position: relative;
			overflow: hidden;
		}

		#results>li ul {
			margin-bottom: 10px;
			padding-left: 20px;
		}
		
		#results .table {
			border-collapse:collapse; 
			
		}
		
		#results .room {
			
		}
		
		#results .table tr:hover {
			background-color: #f5f5f5
		}
		
		#results .table th {
			width:100px; 
			word-wrap:break-word;
			}	
		
		#results .table td {
			width:300px; 
			word-wrap:break-word;
			white-space:pre;
			}

		</style>
		
	<!--This is the template for each record -->
	<script id="order-list-template" type="text/handlebars">
	{{#each results}}
		<li data-id="{{id}}" data-status="{{status}}" class="list-group-item">
			<table class = "table">
			<tr>
				<th>Room:</th>
				<td><span class="room" style="{{txtColor}}"><b>{{room}}</b></span></td>
				<th>Number of guests to be served:</th>
				<td><span class="numOfGuest">{{numOfGuest}}</span></td>
			</tr>
			<tr>
				<th>Delivery Date:</th>
				<td><span class="deliveryDate">{{deliveryDate}}</span></td>
				<th>Delivery Time:</th>
				<td><span class="deliveryTime">{{deliveryTime}}</span></td>
			</tr>
			<tr>
				<th>Order Date:</th>
				<td><span class="deliveryTime">{{orderDate}}</span></td>
				<th>Order Time:</th>
				<td><span class="orderTime">{{orderTime}}</span></td>
			</tr>
			<tr>
				<th>Item:</th>
				<td><span class="item">{{item}}</span></td>
				<th>Quantity:</th>
				<td><span class="quantity">{{quantity}}</span></td>
			</tr>
			<tr>
				<th>Choices:</th>
				<td><span class="choices">{{choices}}</span></td>
				<th>Status:</th>
				<td><span class="statusTxt">{{statusTxt}}</span></td>
			</tr>
			<tr>
				<th>Last Update Time:</th>
				<td><span class="lastUpdateTime">{{lastUpdateTime}}		</span></td>
				<th>Last Update By:</th>
				<td><span class="lastUpdateBy">{{lastUpdateBy}}</span></td>
			</tr>
			<tr>
				<th>Requirement:</th>
				<td><span class="requirement">{{requirement}} </span></td>
			</tr>
			</table>
			<table>
				<tr>
				<td>
					<button onclick="SubForm('{{id}}','1')" class="btn btn-success process-order-{{id}}" id="update-button" style="display:none">Process Order</button>
					<button onclick="SubForm('{{id}}','0')" class="btn btn-warning unprocess-order-{{id}}" id="update-button" style="display:none">Unprocess Order</button>
				</td>
				<td>
					<button onclick="SubForm('{{id}}','2')" class="btn btn-danger cancel-order-{{id}}" id="update-button" style="display:{{cancelBtnDisplay}}">Cancel Order</button>
				</td>
				<td>
				<button class="btn btn-primary pending-order {{poOn}}" style="display:{{pendingBtnDisplay}}">Pending Order</button>
				</td>
				</tr>
			</table>
		</li>
		{{else}}
		<li class="alert alert-warning">No results found</li>
	{{/each}}
	</script>
	<!-- End of template -->
	
</head>
<body onload="checkLogin(); sessionEmail(); todayDate();">
	<div class="pageTop container" id="pageTop" >
		<table class="ptTable col-sm-12 bg-info">
			<tr>
				<td class="col-sm-3" id="topMsg" >
				</td>
				<td>
				</td>
				<td class="col-sm-1" align="right">
					<a href="index.html" >Orders</a>
				</td>
				<td class="col-sm-1"  align="right">
					<a href="statistics.html" >Statistics</a>
				</td>
				<td class="col-sm-1" align="right">
					<a href="javascript:void(0);" onclick="logout();">Logout</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="container">
		<h1>In Room Dining Orders</h1>
		<form id="search">
		<table class="table">
			<thead>
				<tr>
					<th>Order Date:</th>
					<th>Order Status:</th>
					<th>Room:</th>
					<th></th>
				</tr>
				<tr>
					<td><input class="form-control date-input" type="date" id="order_date" ></td>
					<td><select class="form-control status-input" id="status" >
											<option value="" > All</option>
											<option value="0" selected>waiting for process</option>
											<option value="1">processed</option>
											<option value="2">cancelled</option>
										</select></td>
					<td><input class="form-control room-input" type="text" id="room"></td>
					<td><button type="submit" class="btn btn-primary add-blog" type="button">Search</button></td>
				</tr>
			</thead>
		</table>
		</form>
		<ul id="results" class="list-group"></ul>
	</div>
	
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="bower_components/handlebars/handlebars.js"></script>
	<script src="js/local.js"></script>
	<script src="js/script.js"></script>
	<script src="js/jquery-ui.js"></script>
	

</body>
</html>
